*{
    box-sizing: border-box;
}

body{
    background-color: #b07cf7;
   
}

.container{
    max-width: 1170px;
    height: 100%;
    margin: 100px auto 120px auto;
}


.secii{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 50px;
}

.sec1{
    background-image: url(../img/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 360px;
    margin: 15px;
}

.sec2{
    background-image: url(../img/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 360px;
    margin: 15px;
}

.sec3{
    background-image: url(../img/img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 360px;
    margin: 15px;
}

.bg{
    margin: 30px;
}

.verx{
    height: 90px;
}

.melk{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: #fff;
    position: relative;
    right: -42px;
    top: -97px;
}

.melk1{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    right: -37px;
    top: -97px;
}

.greensmoo{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 119px 20px 0 20px;
}

.by{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 13px;
    margin: 26px 20px 0 20px;
    padding-bottom: 20px;
}

.blog{
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 0.8;
    height: 88px;
}

.dolore{
    max-width: 563px;
    text-align: center;
    margin: 31px auto 0px auto;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #fff;
}

.butt{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #fff;
    width: 200px;
    height: 56px;
    background-color: #f72b3b;
    border-style: none;
    margin-top: 51px;
}

.butall{
    text-align: center;
}

.link{
    font-size: 50px;
    text-align: center;
}